<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="{{item}}">
    <meta property="og:description" content="{{item}} is randomly picked from the list of {{listSize}} {{listName}}, hit refresh and see next one!">
    <meta property="og:type" content="website">
    <meta name="twitter:label1" value="Item" />
    <meta name="twitter:data1" value="{{item}}" />
    <meta name="twitter:label2" value="List" />
    <meta name="twitter:data2" value="{{listName}}" />
    <title>Collective Nouns | Raro.io</title>
</head>
<body>
{{item}}
</body>
</html>